.main {
  font-weight: 400;
  display: grid;
  justify-content: center;

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 50px 48px;
    margin-bottom: 78px;

    @media screen and (max-width: 899px) {
      grid-template-columns: repeat(3, 200px);
    }
    @media screen and (max-width: 699px) {
      grid-template-columns: repeat(2, 200px);
    }
    @media screen and (max-width: 499px) {
      grid-template-columns: repeat(1, 200px);
    }
  }
}
